[user]
    name = purrrplelipton
	email = 61193553+purrrplelipton@users.noreply.github.com



# Other possible Git configurations.
# - Set the default editor (nano, vs code, etc)
# - Customize color input
# - Create aliases (shortcuts for Git subcommands)
# - Add and endpoint shortcuts for commonly used URLs
[fetch]
	prune = true
[alias]
	empty = git commit --allow-empty
[alias]
    delete-local-merged = "!git fetch && git branch --merged | egrep -v 'master' | xargs git branch -d"
[init]
    defaultBranch = main # (or whatever name you want)
[status]
    short = true