[user]
    name = purrrplelipton
    email = immanueltoby@gmail.com



# Other possible Git configurations.
# - Set the default editor (nano, vs code, etc)
# - Customize color input
# - Create aliases (shortcuts for Git subcommands)
# - Add and endpoint shortcuts for commonly used URLs